*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
}

#logo {
    font-size: 32px;
    margin-top: 12px;
    margin-left: 12px;
}

#navigation {
    text-align: center;
    font-size: 17px;
}

body {
    background-color: #f1eae4;
}

a {
    margin-left: 12px;
    text-decoration: none;
}