*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 15pt;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
}

#top {
    padding-top: 1.5%;
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 1.5%;
}
.img-fluid {
    max-width: 15mm;
    max-height: 15mm;
}

#top.row {
    max-width: 100%;
    margin: 0;
}

#main.img-fluid {
    max-width: 100%;
    max-height: auto;
}

.backgroundimg img {
    width: 100%;
}

.navigation {
    text-align: center;
    font-size: 17px;
}

.navigation a {
    margin-left: 12px;
    text-decoration: none;
    color: rgb(50, 50, 50);
    padding: 5%;
}

.navigation a:hover {
    color: lightcoral;
}

#background_palms img {
    width: 100%;
}